/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-100 text-gray-700;
}

a {
  @apply underline hover:no-underline;
}

button,
input {
  @apply p-2;
}

input {
  @apply border rounded shadow-inner;
}
